// You can add styles here
* { box-sizing: border-box; }


body {
    .container {
        width: 1196px;
        margin: 0 auto;
        padding-top: 40px;
        .list-view {
            list-style: none;
            padding-left: 0;
            .list-view-item {
                padding: 20px;
                border-radius: 5px;
                background-color: #92DCE5;
                margin-bottom: 10px;
            }
        }
    }
}


.image-logo {
    position: relative;
	background: #800040;
	border-radius: .9em;
}

.image-logo:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 42px solid transparent;
	border-bottom-color: #800040;
	border-top: 0;
	border-left: 0;
	margin-left: -21px;
	margin-top: -42px;
}